@import "tailwindcss";

@font-face {
  font-family: 'Rogbold';
  /* Make sure the filename matches exactly */
  src: url('./assets/fonts/Rogbold-3llGM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  /* Make sure the filename matches exactly */
  src: url('./assets/fonts/Poppins-Regular.ttf') ('truetype');
  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-app-text: var(--text);
  --color-app-text-h: var(--text-h);
  --color-app-text-h-hover: var(--text-h-hover);
  --color-app-bg: var(--bg);
  --color-app-accent: var(--accent);
  --color-app-border: var(--border-color);
  --color-app-project: var(--project-btn);
  --color-app-project-border: var(--project-border);
  --font-rogbold: "Rogbold", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

:root {
  --text: #000000;
  --text-h: #7e7e7e;
  --text-h-hover: #000000;
  --bg: #ffffff;
  --accent: #c084fc;
  --border-color: #dbdbdb;
  --project-btn: #cacaca;
  --project-border: #b4b4b4;
}

[data-theme="dark"] {
  --text: #ffffff;
  --text-h: #666666;
  --text-h-hover: #ffffff;
  --bg: #000000;
  --accent: #c084fc;
  --border-color: #1f1f1f;
  --project-btn: rgb(24, 23, 23);
  --project-border: #313131;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.auth-track {
  display: flex;
  width: 200%;
  /* Two slides wide */
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-slide {
  width: 50%;
  /* Each slide is half the track (one full screen width) */
}

@keyframes slide-in {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(1%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes swingLeft {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(16deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes swingMiddle {
  0% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@keyframes swingRight {
  0% {
    transform: rotate(-12deg);
  }

  50% {
    transform: rotate(-18deg);
  }

  100% {
    transform: rotate(-12deg);
  }
}

.animate-swing-left {
  animation: swingLeft 4s ease-in-out infinite;
}

.animate-swing-middle {
  animation: swingMiddle 5s ease-in-out infinite;
}

.animate-swing-right {
  animation: swingRight 4.5s ease-in-out infinite;
}

@theme {
  /* Define the utility name and link it to the keyframes */
  --animate-loading-dots: dots 1.5s steps(1) infinite;

  /* Define the keyframes behavior */
  @keyframes dots {

    0%,
    20% {
      content: "";
    }

    40% {
      content: ".";
    }

    60% {
      content: "..";
    }

    80%,
    100% {
      content: "...";
    }
  }
}

.status option{
  border-radius: 4px;
}

 @keyframes smoothScale {

   0%,
   100% {
     transform: scale(0.92);
   }

   50% {
     transform: scale(1.08);
   }
 }

 @keyframes rotateRainbow {
   0% {
     box-shadow:
       -8px -8px 12px rgba(99, 89, 248, 0.65),
       0px -8px 12px rgba(156, 50, 226, 0.65),
       8px -8px 12px rgba(243, 104, 150, 0.65),
       8px 0 12px rgba(255, 11, 11, 0.65),
       8px 8px 12px rgba(255, 85, 0, 0.65),
       0 8px 12px rgba(255, 149, 0, 0.65),
       -8px 8px 12px rgba(255, 183, 0, 0.65);
   }

   25% {
     box-shadow:
       8px -8px 12px rgba(99, 89, 248, 0.65),
       8px 0px 12px rgba(156, 50, 226, 0.65),
       8px 8px 12px rgba(243, 104, 150, 0.65),
       0px 8px 12px rgba(255, 11, 11, 0.65),
       -8px 8px 12px rgba(255, 85, 0, 0.65),
       -8px 0px 12px rgba(255, 149, 0, 0.65),
       -8px -8px 12px rgba(255, 183, 0, 0.65);
   }

   50% {
     box-shadow:
       8px 8px 12px rgba(99, 89, 248, 0.65),
       0px 8px 12px rgba(156, 50, 226, 0.65),
       -8px 8px 12px rgba(243, 104, 150, 0.65),
       -8px 0 12px rgba(255, 11, 11, 0.65),
       -8px -8px 12px rgba(255, 85, 0, 0.65),
       0 -8px 12px rgba(255, 149, 0, 0.65),
       8px -8px 12px rgba(255, 183, 0, 0.65);
   }

   75% {
     box-shadow:
       -8px 8px 12px rgba(99, 89, 248, 0.65),
       -8px 0px 12px rgba(156, 50, 226, 0.65),
       -8px -8px 12px rgba(243, 104, 150, 0.65),
       0px -8px 12px rgba(255, 11, 11, 0.65),
       8px -8px 12px rgba(255, 85, 0, 0.65),
       8px 0px 12px rgba(255, 149, 0, 0.65),
       8px 8px 12px rgba(255, 183, 0, 0.65);
   }

   100% {
     box-shadow:
       -8px -8px 12px rgba(99, 89, 248, 0.65),
       0px -8px 12px rgba(156, 50, 226, 0.65),
       8px -8px 12px rgba(243, 104, 150, 0.65),
       8px 0 12px rgba(255, 11, 11, 0.65),
       8px 8px 12px rgba(255, 85, 0, 0.65),
       0 8px 12px rgba(255, 149, 0, 0.65),
       -8px 8px 12px rgba(255, 183, 0, 0.65);
   }
 }

 .rainbow-spinner-glow {
   animation: smoothScale 2.5s infinite ease-in-out, rotateRainbow 4s infinite linear;
 }